$header-link-border-color: #ff9000;
$main-background-color: #eeeeee;
$secondary-background-color: #fff;
$main-table-title-color: #5b5b5b;
$highlighted-cell-color: #d2d2f1;
$danger: #ffd8d8;
$danger-strong: #eb0000;
$confirm: #009d00;
