$header-link-border-color: #ff9000;
$main-background-color: #eeeeee;
$main-table-title-color: #5b5b5b;
$highlighted-cell-color: #d2d2f1;
$danger: #ffd8d8;
$confirm: #009d00;
$highlighted-cell-text-color: #eb0000;
