@import '../assets/scss/colors.scss';

.main-table {
    font-size: 2.5vh;
    text-align: center;

    &__head {
        font-weight: bold;
        color: $main-table-title-color;
    }

    &__cell {
        &__content {
            display: flex;
            flex-direction: column;
        }

        &--highlighted {
            background-color: $highlighted-cell-color;
        }
    }
}
